@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
  --color-default:rgb(33, 48, 99);
  --color-second:rgb(122, 156, 201);
  --color-white:#fff;
  --color-body: rgba(229,236,246,255);
  --color-light:#e0e0e0;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
  min-height: 100vh;
}

ol, ul {
    padding: 0!important;
}

.dt-head-center {
  text-align: center;
  vertical-align: middle;
}

input[type="checkbox"]{
  accent-color: #dc3545;
}

.badge-primary{
  background-color: var(--color-default);
  color: var(--color-white);
  text-align: center;
}

.badge-danger{
  background-color: #dc3545;
  color: var(--color-white);
  text-align: center;
}

.badge-missing{
  background-color: #d0cccd;
  color: var(--color-white);
  text-align: center;
}

.sidebar{
  min-height: 500vh;
  width: 78px;
  padding: 6px 14px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all .5s ease;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 250px;
}

.sidebar .logo_details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: inherit;
  padding-top: 5px;
}

.sidebar .logo_details .icon{
  width: 100px;
  opacity: 0;
  transition: all 0.5s ease ;
}

.sidebar .logo_details .logo_name{
  color:var(--color-white);
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  transition: all .5s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn-toggle{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
}

.sidebar.open .logo_details #btn-toggle{
  text-align: right;
}

.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip{
  display: none;
}

.sidebar input{
  font-size: 15px;
  color: var(--color-white);
  font-weight: 400;
  outline: none;
  height: 35px;
  width: 35px;
  border:none;
  border-radius: 5px;
  background-color: var(--color-second);
  transition: all .5s ease;
}

.sidebar input::placeholder{
  color:var(--color-light)
}

.sidebar.open input{
  width: 100%;
  padding: 0 20px 0 50px;
}

.btn-tooltip{
  position: relative;
  display: inline-block;
}

.btn-tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: #dc3545;
  color: var(--color-white);
  border-radius: 5px;
  padding: 8px 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  pointer-events: none; 

  /* Position the tooltip */
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 25%;
}

.btn-tooltip:hover .tooltiptext {
  visibility: visible;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:60px;
  transform: translateY(-50%);
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  transform: scaleX(1);
  color:var(--color-default)
}

.active-page {
  background-color: white!important;
  border-radius: 5px;
}

.page.active-page i {
  color: var(--color-default);
}

.page.active-page .link_name {
  color: var(--color-default);
}

.sidebar li a .link_name{
  color:var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color:var(--color-default)
}

.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i{
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom:-8px;
  padding:10px 14px;
  /* overflow: hidden; */
  transition: all .5s ease;
}

.sidebar.open li.profile{
  width: 250px;
}

.sidebar .profile .profile_details{
  display: flex;
  align-items: center;
  flex-wrap:  nowrap;
}

.sidebar .profile .profile_details img,
.sidebar .profile .profile_content {
  transition: all 0.5s ease;
  visibility: hidden;
}

.sidebar.open .profile .profile_details img,
.sidebar.open .profile .profile_content {
  visibility: visible;
}

.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation{
  font-size: 12px;
}

.sidebar .profile #log_out{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-second);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar .profile #log_out i{
  min-width: 75px!important;
}

.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

.sidebar.open .profile #log_out i{
  min-width: 50px!important;
}

.sidebar .profile #log_in{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-second);
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar .profile #log_in i{
  min-width: 75px!important;
}

/* #tabelCuplikanKomentar tbody td:nth-child(2) {
  width: 150px;
} */

.home-section{
  position: relative;
  background-color: var(--color-body);
  min-height: 100vh;
  top:0;
  left:78px;
  width: calc(100% - 78px);
  transition: all .5s ease;
  z-index: 2;
}

.home-section .text{
  display: inline-block;
  color:var(--color-default);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.sidebar.open ~ .home-section{
  left:250px;
  width: calc(100% - 250px);
}

.bg-holder{
  position:absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/login-pict.jpg);
}

.btn-primary{
  background-color: var(--color-default)!important;
  border: 1px solid var(--color-default) !important;
}

.btn-primary:hover{
  background-color: rgb(28, 41, 84) !important;
  border: 1px solid rgb(28, 41, 84) !important;
}

.btn-outline-primary{
  background-color: transparent !important;
  border: 1px solid var(--color-default) !important;
  color: var(--color-default) !important;
}

.btn-outline-primary:hover{
  border: 1px solid var(--color-default) !important;
  background-color: var(--color-default)!important;
  color: #fff !important;
}

.add-data-container {
  box-shadow: inset 0 0 4px #e4e4e4;
  background-color: var(--color-body);
}

.divider-content-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #fff;
  font-size: 0.8rem;
}

.divider{
  margin: 1rem 0;
}

.text-primary-card{
  color: var(--color-default);
  font-size: 30px;
}

.text-title-card{
  color: #000;
  font-size: 18px;
}

.skeleton{
  position: relative;
}

.skeleton::before{
  content: '';
  position: absolute;
  border-radius: 0.375rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0%{
    background-position: -100% 0;
  }
  100%{
    background-position: 100% 0;
  }
}
